.header{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    position: fixed;
    z-index: 1;
    background-color: transparent;
    transition: background-color .5s ease;
}

.header--active{
    background-color: rgba(0, 0, 0, 80%);
}

.navbar{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    column-gap: 0.5208333333333334vmax;
    align-items: center;
    overflow: hidden;
}

.navbar__list{
    display: flex;
    column-gap: 0.5208333333333334vw;
    height: 100%;
    transform: translateX(0);
    transition: transform .5s linear;
}

.navbar__item{
    background-color: #2B2A2A;
    color: #fff;
    display: flex;
    height: 100%;
    border-radius: 2.6vw;
    overflow: hidden;
}

.navbar__link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 3vw;
    height: 100%;
    padding: 1vw;
    /* border-radius: 2.6vw; */
    column-gap: .5vw;
    font-size: clamp(.3rem, 0.9375vw, 0.9375vw);
    overflow: hidden;
    transition: all .5s ease;
}

.navbar__link--active{
    background-color: #F5B63F;
    max-width: 50vw;
    transition: all .5s ease;
}

.navbar__text{
    font-size: clamp(.3rem, 0.9375vw, 0.9375vw);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .3s ease-out;
}

.navbar__text--active{
    opacity: 1;
    transition: opacity .2s ease-in;
}

.navbar__button-wrapper{
    width: 2.690104166666667vw;
    display: flex;
    justify-content: flex-end;
}

.navbar__button{
    color: #fff;
    font-size: clamp(1rem, 2.690104166666667vw, 3rem);
    background-color: transparent;
    transform: rotate(-90deg);
    transition: transform .5s linear;
}